:root {
    --accent: #932510;
    --gray: #343433;
    --darkGray: #202020;
}

body {
    background-color: #f5f6f0;
    color: var(--gray);
    font-family: sans-serif;
    margin: 0px;
}

a:link {
    text-decoration: none;
}
a:visited {
    color: #00f;
    text-decoration: none;
}
a:hover { 
    text-decoration: underline;
    color: var(--gray);
}
a:active {
     text-decoration: underline;
     color: var(--gray);
}

li {
 list-style: none;
}

p {
    font-size: 1em;
    font-weight: bold;
    line-height: 1.6;
}

hr {
    height: 3px;
    background-color: var(--accent);
    border: none;
}

.navbar {
    background-color: var(--darkGray);
}
.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto; 
    padding-right: 15px; 
    padding-left: 15px;
    max-width: 1000px;
}

/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}
.menu li:hover {
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s ease;
}
.menu li {
    padding: 5px 14px;
}

.navbar-items a {
    color: #fff;
    text-decoration: none;
}

.navbar-items a:hover {
    color: #fff;
    text-decoration: underline;
}

.navbar-logo a {
    color: white;
    font-size: 24px;
    font-weight: bolder;
}

input[type=checkbox]{
 display: none;
} 

/*HAMBURGER MENU*/
.hamburger {
 display: none;
 font-size: 24px;
 user-select: none;
}

/* MOBILE RESPONSIVENESS */
@media (max-width: 768px) {
.menu { 
 display: none;
 position: absolute;
 background-color: var(--darkGray);
 right: 0;
 left: 0;
 text-align: center;
 padding: 16px 0;
}
.menu li:hover {
 display: inline-block;
 background-color: #fff;
 transition: 0.3s ease;
}
.menu li + li {
 margin-top: 12px;
}
input[type=checkbox]:checked ~ .menu{
 display: block;
}
.hamburger {
 display: flex;
 color: #fff;
}
.dropdown {
 left: 50%;
 top: 30px;
 transform: translateX(35%);
}
.dropdown li:hover {
 background-color: #fff;
}
}

.content {
    margin: auto;
    align-self: center;
    text-align: left;
}

.content li {
    font-size: 16px;
    font-weight: bolder;
    list-style: disc;
}